-#.row.centered{:style => "margin-left:500px;border-right:5px solid #333333;margin-bottom:5px;"}
  .three.columns{:style=>"padding:10px;border :1px solid #897c7c;height:120px;-moz-border-radius: 15px;border-radius: 15px;"}
    %a{:href => "#q1", :style=>"padding-left:2px;"} Help Item
    %br
    %a{:href => "#q2", :style=>"padding-left:2px;"} Help Item
    %br
    %a{:href => "#q3", :style=>"padding-left:2px;"} Help Item
  .three.columns{:style=>"padding:10px;border :3px solid #897c7c;height:120px;-moz-border-radius: 15px;border-radius: 15px;"}
    %a{:href => "#q4", :style=>"padding-left:2px;"} Help Item
    %br
    %a{:href => "#q5", :style=>"padding-left:2px;"} Help Item
    %br
    %a{:href => "#q6", :style=>"padding-left:2px;"} Help Item
  .three.columns{:style=>"padding:10px;border :3px solid #897c7c;height:120px;-moz-border-radius: 15px;border-radius: 15px;"}
    %a{:href => "#q7", :style=>"padding-left:2px;"} Help Item
    %br
    %a{:href => "#q8", :style=>"padding-left:2px;"} Help Item
    %br
    %a{:href => "#q9", :style=>"padding-left:2px;"} Help Item
-#.row.centered{:style => "margin-left:500px;border-right:5px solid #333333;margin-bottom:5px;"}
  .three.columns{:style=>"padding:10px;border :3px solid #897c7c;height:120px;-moz-border-radius: 15px;border-radius: 15px;"}
    %a{:href => "#q10", :style=>"padding-left:2px;"} Help Item
    %br
    %a{:href => "#q11", :style=>"padding-left:2px;"} Help Item
    %br
    %a{:href => "#q12", :style=>"padding-left:2px;"} Help Item
  .three.columns{:style=>"padding:10px;border :3px solid #897c7c;height:120px;-moz-border-radius: 15px;border-radius: 15px;"}
    %a{:href => "#q13", :style=>"padding-left:2px;"} Help Item
    %br
    %a{:href => "#q14", :style=>"padding-left:2px;"} Help Item
    %br
    %a{:href => "#q15", :style=>"padding-left:2px;"} Help Item
  .three.columns{:style=>"padding:10px;border :3px solid #897c7c;height:120px;-moz-border-radius: 15px;border-radius: 15px;"}
    %a{:href => "#q16", :style=>"padding-left:2px;"} Help Item
    %br
    %a{:href => "#q17", :style=>"padding-left:2px;"} Help Item
    %br
    %a{:href => "#q18", :style=>"padding-left:2px;"} Help Item
-#.row.centered{:style => "margin-left:500px;border-right:5px solid #333333;margin-bottom:5px;"}
  .three.columns{:style=>"padding:10px;border :3px solid #897c7c;height:120px;-moz-border-radius: 15px;border-radius: 15px;"}
    %a{:href => "#q19", :style=>"padding-left:2px;"} Help Item
    %br
    %a{:href => "#q20", :style=>"padding-left:2px;"} Help Item
    %br
    %a{:href => "#q21", :style=>"padding-left:2px;"} Help Item
  .three.columns{:style=>"padding:10px;border :3px solid #897c7c;height:120px;-moz-border-radius: 15px;border-radius: 15px;"}
    %a{:href => "#q22", :style=>"padding-left:2px;"} Help Item
    %br
    %a{:href => "#q23", :style=>"padding-left:2px;"} Help Item
    %br
    %a{:href => "#q24", :style=>"padding-left:2px;"} Help Item
  .three.columns{:style=>"padding:10px;border :3px solid #897c7c;height:120px;-moz-border-radius: 15px;border-radius: 15px;"}
    %a{:href => "#q25", :style=>"padding-left:2px;"} Help Item
    %br
    %a{:href => "#q26", :style=>"padding-left:2px;"} Help Item
    %br
    %a{:href => "#q27", :style=>"padding-left:2px;"} Help Item
-#.row.centered{:style => "margin-left:500px;border-right:5px solid #333333;margin-bottom:5px;"}
  .three.columns{:style=>"padding:10px;border :3px solid #897c7c;height:120px;-moz-border-radius: 15px;border-radius: 15px;"}
    %a{:href => "#q28", :style=>"padding-left:2px;"} Help Item
    %br
    %a{:href => "#q29", :style=>"padding-left:2px;"} Help Item
    %br
    %a{:href => "#q30", :style=>"padding-left:2px;"} Help Item
  .three.columns{:style=>"padding:10px;border :3px solid #897c7c;height:120px;-moz-border-radius: 15px;border-radius: 15px;"}
    %a{:href => "#q31", :style=>"padding-left:2px;"} Help Item
    %br
    %a{:href => "#q32", :style=>"padding-left:2px;"} Help Item
    %br
    %a{:href => "#q33", :style=>"padding-left:2px;"} Help Item
  .three.columns{:style=>"padding:10px;border :3px solid #897c7c;height:120px;-moz-border-radius: 15px;border-radius: 15px;"}
    %a{:href => "#q34", :style=>"padding-left:2px;"} Help Item
    %br
    %a{:href => "#q35", :style=>"padding-left:2px;"} Help Item
    %br
    %a{:href => "#q36", :style=>"padding-left:2px;"} Help Item
-#.row.centered{:style => "margin-left:500px;border-right:5px solid #333333;margin-bottom:5px;"}
  .three.columns{:style=>"padding:10px;border :3px solid #897c7c;height:120px;-moz-border-radius: 15px;border-radius: 15px;"}
    %a{:href => "#q37", :style=>"padding-left:2px;"} Help Item
    %br
    %a{:href => "#q38", :style=>"padding-left:2px;"} Help Item
    %br
    %a{:href => "#q39", :style=>"padding-left:2px;"} Help Item
  .three.columns{:style=>"padding:10px;border :3px solid #897c7c;height:120px;-moz-border-radius: 15px;border-radius: 15px;"}
    %a{:href => "#q40", :style=>"padding-left:2px;"} Help Item
    %br
    %a{:href => "#q41", :style=>"padding-left:2px;"} Help Item
    %br
    %a{:href => "#q42", :style=>"padding-left:2px;"} Help Item
  .three.columns{:style=>"padding:10px;border :3px solid #897c7c;height:120px;-moz-border-radius: 15px;border-radius: 15px;"}
    %a{:href => "#q43", :style=>"padding-left:2px;"} Help Item
    %br
    %a{:href => "#q44", :style=>"padding-left:2px;"} Help Item
    %br
    %a{:href => "#q45", :style=>"padding-left:2px;"} Help Item
-#.row.centered{:style => "margin-left:500px;border-right:5px solid #333333;margin-bottom:5px;"}
  .three.columns{:style=>"padding:10px;border :3px solid #897c7c;height:120px;-moz-border-radius: 15px;border-radius: 15px;"}
    %a{:href => "#q46", :style=>"padding-left:2px;"} Help Item
    %br
    %a{:href => "#q47", :style=>"padding-left:2px;"} Help Item
    %br
    %a{:href => "#q48", :style=>"padding-left:2px;"} Help Item
  .three.columns{:style=>"padding:10px;border :3px solid #897c7c;height:120px;-moz-border-radius: 15px;border-radius: 15px;"}
    %a{:href => "#q49", :style=>"padding-left:2px;"} Help Item
    %br
    %a{:href => "#q50", :style=>"padding-left:2px;"} Help Item
    %br
    %a{:href => "#q51", :style=>"padding-left:2px;"} Help Item
  .three.columns{:style=>"padding:10px;border :3px solid #897c7c;height:120px;-moz-border-radius: 15px;border-radius: 15px;"}
    %a{:href => "#q52", :style=>"padding-left:2px;"} Help Item
    %br
    %a{:href => "#q53", :style=>"padding-left:2px;"} Help Item
    %br
    %a{:href => "#54", :style=>"padding-left:2px;"} Help Item